@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Permanent+Marker&display=swap');

h1 {
    font-size:50px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(0, 0, 0);
}

.G h1{
	color: #FF449F;
	font-size: 450px;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 30px 30px #00eed4;
	text-align: right;
}
