@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
/* CSS Document */
html {
	margin: 0;
    padding: 0;
	background-color:#111111;
	color:white;
	font-family:montserrat;
}

.content {
	float:center;
	text-align:center;  
	margin: auto;
  	width: 50%;
  	padding: 10px;
	top: 50%;
	
	
}

.standard-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.standard-btn:hover {
	top: -10px;
}
  
  .status-btn:hover {
      top: -10px;
  }
  
  @media (max-width: 480px) {
      .status-btn:hover {
          top: 0;
      }
  }

